<form method='post'>
  <input
    id='input-wishList-item'
    type='text'
    name='wishListItem'
    autofocus='on'
    placeholder='e.g. laser hair removal groupon'
  />
  <button>Add Item</button>
</form>