<h1>{{title}}</h1>

<h3>Input Wish List Name</h3>
<form method='POST'>
  <input
    id='input-wishList'
    type='text'
    name='listName'
    autofocus='on'
    placeholder='e.g. Big Ticket Items'
  />
  <button>Add Wish List</button>
</form>

{{#each wishList}}
  <ul>
    <li>
      <a href='/wishlist-items/{{this.id}}'>{{listName}}</a>
    </li>
  </ul>
{{/each}}

<h3>Search for Friends</h3>
<form action='friend-search' method='GET'>
  <input
    id='input-friend-search'
    type='text'
    name='name'
    autofocus='on'
    placeholder='e.g. Loser Cousin'
  />
  <button>Search</button>
</form>