<h1>{{title}}</h1>

<form method='POST'>
  <input
    id='input-gift-purchased'
    type='text'
    name='giftPurchased'
    autofocus='on'
    placeholder='e.g. poo pourri'
  />
  <button class='btn-submit'>Add to Purchased List</button>
</form>

{{#each giftPurchased}}
  <ul>
    <li>
      {{!-- <a href='/wishlist-item-thread'>{{item}}</a> --}}
      <form action='/gift-purchased/{{this.id}}/delete' method='POST'>
        <button class='btn btn-outline-danger mb-2'>Delete Item</button>
      </form>
    </li>
  </ul>
{{/each}}