<h1>Cuzzie Secret Santa!</h1>
{{! This page should only be accessible to authenticated users. }}
<span><h3><u>
      The Rules:
    </u>
  </h3>
  <ol>
    <li>
      Have fun!
    </li>
    <li>
      Do NOT tell anyone who your recipient is!
    </li>
    <li>
      Do NOT archive any wish list items after December 10th.
    </li>
    <li>
      Try to start adding to wish lists by Dec 1st.
    </li>
  </ol></span>