<h1>Cuzzie Secret Santa</h1>
{{! This page should only be accessible to authenticated users. }}
<span><h3><a class='landing-link' href='/authentication/sign-in'>Sign in</a>
    or
    <a class='landing-link' href='/authentication/sign-up'>sign up</a>
    now to get started in some holiday cheer!</h3></span>