<h1>{{title}}</h1>

<form method='POST'>
  <input
    id='input-wishList-item'
    type='text'
    name='wishListItem'
    autofocus='on'
    placeholder='e.g. ice skating groupon'
  />
  <button>Add Item to Wish List</button>
</form>

{{#each wishListItem}}
  <ul>
    <li>
      <a href='/wishlist-item-thread'>{{item}}</a>
    </li>
  </ul>
{{/each}}